.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.landing-content {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.app-logo img {
  max-width: 100%;
}

.app-logo {
  max-width: 250px;
  min-width: 180px;
  margin-left: 180px;
}

.text-container {
  margin-left: 10px;
  flex: 1;
}

.app-name {
  background: linear-gradient(120deg, 
    white 0%,
    var(--dantotsu-1) 30%,
    var(--dantotsu-4) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: -0.2em;
}
.app-slogan {
  background: linear-gradient(to right, 
    white 0%,
    var(--dantotsu-1) 30%,
    var(--dantotsu-4) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  padding-bottom: 5px;
}
.app-description {
  background: linear-gradient(120deg, 
    white 0%,
    var(--dantotsu-1) 30%,
    var(--dantotsu-4) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
}
.github-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.github-button:hover {
  opacity: 0.8;
}

.github-button:active {
  opacity: 0.6;
}

.join-button {
  background-color: white;
  color: rgb(49, 136, 223);
  border-color: rgb(49, 136, 223);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  height: 30px;
  width: 50px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
  background-color: rgb(49, 136, 223);
  color: white;
}

.join-button:active {
  opacity: 0.8;
}

.tweet-button {
  background-color: rgb(57, 140, 249);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 36px;
  width: 60px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.lorem {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 800px;
  line-height: 24px;
}
