@use "sass:math";

@mixin text-gradient($direction, $colors) {
  $gradient: '';

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    $gradient: $gradient + $color + if($i != length($colors), ', ', '');
  }

  background: linear-gradient(#{$direction}, #{$gradient});
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-glow($color, $steps, $min-radius, $max-radius) {
  $glow-values: ();
  $step-size: math.div($max-radius - $min-radius, $steps);
  @for $i from 0 through $steps {
    $radius: $min-radius + ($step-size * $i);
    $glow-values: append($glow-values, 0 0 $radius $color, comma);
  }
  text-shadow: $glow-values;
}

@mixin object-glow($color, $blur) {
  box-shadow: 0 0 $blur $color;
}
