.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
}