.searchbox-container {
  text-align: center;
  margin-top: 100px;
}
.searchbox {
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 400px;
}
.results {
  margin-top: 40px;

}
.queandans {
  margin: auto;
  display: block;
  width: 700px;
}
.faq-q {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.faq-a {
  margin-top: 0;
  margin-bottom: 20px;
}
.highlight {
  color: #FF00F4;
  text-shadow: 0 0 10px #FF00F4;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 4px #FF00F4;
  }
  100% {
    text-shadow: 0 0 20px #FF00F4;
  }
}